In [5]:
# Step 1: Import the function
from urllib.request import urlretrieve

# Step 2: Define the URL and download the CSV file
medical_charges_url = 'https://raw.githubusercontent.com/JovianML/opendatasets/master/data/medical-charges.csv'
urlretrieve(medical_charges_url, 'medical.csv')  # This saves the file as 'medical.csv' locally

# Step 3: Install pandas if not already installed (the ! runs a shell command)
!pip install pandas --quiet

# Step 4: Import pandas and read the CSV into a dataframe
import pandas as pd
medical_df = pd.read_csv('medical.csv')

# Step 5: Display the dataframe
medical_df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [ ]:
!pip install jovian --quiet
import jovian

jovian.commit(project='medical-charges-prediction',
             filename='/home/stanley-otieno/ML/medical-cost-prediction.ipynb'
             )

[jovian] Please enter your API key ( from https://jovian.com/ ):
API KEY:API KEY:API KEY:API KEY:API KEY:API KEY:API KEY:API KEY:API KEY:API KEY:API KEY:

In [1]:
!pip install plotly matplotlib seaborn --quiet

In [3]:
import plotly.express as px
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [4]:
medical_df.age.describe()

NameError: name 'medical_df' is not defined